<div class="container">
  <div class="summary-content">
    <div class="summary-content-skills">
      <h1>SOFTWARE SKILLS</h1>
      <div class="summary-softwares">
        <ul>
          <li>
            <i class="fa-brands fa-angular"></i> Angular  <input id="disabled-range" type="range" value="80" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-vuejs"></i> Vuejs <input id="disabled-range" type="range" value="50" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-js"></i> JavaScript <input id="disabled-range" type="range" value="60" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-solid fa-database"></i> MongoDB<input id="disabled-range" type="range" value="40" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-sass"></i> Sass <input id="disabled-range" type="range" value="50" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-css3"></i> Css <input id="disabled-range" type="range" value="70" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-git"></i> / <i class="fa-brands fa-github"></i> / <i class="fa-brands fa-gitlab"></i><input id="disabled-range" type="range" value="50" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
          <li>
            <i class="fa-brands fa-figma"></i> Figma <input id="disabled-range" type="range" value="40" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
          </li>
        </ul>
      </div>
      <div class="summary-content-languages">
        <h1>LANGUAGES</h1>
        <div class="summary-softwares">
          <ul>
            <li>
              Español <input id="disabled-range" type="range" value="100" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
            </li>
            <li>
              Ingles <input id="disabled-range" type="range" value="30" class="w-full h-2 bg-gray-200 rounded-lg appearance-none  dark:bg-gray-700" disabled>
            </li>
          </ul>
        </div>
      </div>
      <div class="summary-content-personal-skills">
        <h1>PERSONAL SKILLS</h1>
        <div class="summary-education">
          <h2 class="text-gray-500">Comunicación efectiva • Trabajo en equipo • Resolución de problemas • Adaptabilidad Organización</h2>
        </div>
      </div>
    </div>
    <div class="summary-content-experience">
      <h1>EXPERIENCE</h1>

      <div class="experience-list">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jul 2017 - Dic 2017</time>
              <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Soporte Técnico</h3>
              <h4 class="font-medium  dark:text-gray-500">IE Cristobal Colón</h4>
              <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                <li>
                 <b>Optimización Tecnológica: </b>  Desempeñé un papel esencial en la mejora de la infraestructura
                  tecnológica, asegurando un rendimiento óptimo de los sistemas.
                </li>
                <li>
                  <b>Mantenimiento avanzado:</b>  Realicé un mantenimiento proactivo y actualizaciones de sistemas,
                  lo que resultó en una mayor eficiencia y confiabilidad de los recursos informáticos.
                </li>
                <li>
                  <b>Soporte de calidad: </b>  Proporcioné un soporte técnico de alta calidad, resolviendo de manera
                  efectiva las necesidades y desafíos de los usuarios.
                </li>
            </ul>
          </li>
          <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Ag 2022 - Presente</time>
              <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Front-end Developer</h3>
              <h4 class="font-medium  dark:text-gray-500">IncubApp Venture Capital</h4>
              <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                <li>
                 <b>Dominio Avanzado de Herramientas:</b>  Poseo destrezas avanzadas en Angular, CSS, Sass y
                 TypeScript, las cuales apliqué de manera efectiva en el desarrollo frontend de la plataforma
                 RankCV.
                </li>
                <li>
                  <b>Experiencia en Diseño de Interfaces de Usuario:</b>  Diseñé y ejecuté interfaces de usuario
                  altamente interactivas y funcionales para RankCV, lo que tuvo un impacto significativo en la
                  mejora de la experiencia del usuario.
                </li>
                <li>
                  <b>Eficiencia en el Uso de Sass y TypeScript: </b>   Utilicé de manera eficiente Sass y TypeScript
                  para optimizar la gestión de estilos y código, lo que aceleró el proceso de desarrollo y
                  mejoró la eficiencia del equipo.
                </li>
                <li>
                  <b>Colaboración Creativa: </b>   Colaboré activamente con el equipo, aplicando creativamente
                  estas herramientas para impulsar el éxito del proyecto RankCV en IncubApp Venture
                  Capital, lo que resultó en un producto final sobresaliente.
                </li>
            </ul>
          </li>
          <li class="ms-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Feb 2023 - Nov 2023</time>
              <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Front-end Developer </h3>
              <h4 class="font-medium  dark:text-gray-500">Universidad de Córdoba</h4>
              <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                <li>
                 <b>Dominio Avanzado de Vue.js: </b>  Desempeñé un papel esencial en la mejora de la infraestructura
                  tecnológica, asegurando un rendimiento óptimo de los sistemas.
                </li>
                <li>
                  <b>Optimización de Rendimiento: </b>  Realicé un mantenimiento proactivo y actualizaciones de sistemas,
                  lo que resultó en una mayor eficiencia y confiabilidad de los recursos informáticos.
                </li>
                <li>
                  <b>Diseño de Interfaces de Usuario Innovadoras:  </b>  Proporcioné un soporte técnico de alta calidad, resolviendo de manera
                  efectiva las necesidades y desafíos de los usuarios.
                </li>
                <li>
                  <b>Integración Impecable:  </b>  Trabajé de manera fluida y sin problemas con equipos
                  multidisciplinarios, asegurando una perfecta integración de Vue.js con otras tecnologías y
                  sistemas, lo que resultó en una eficiencia excepcional en el desarrollo.
                </li>
            </ul>
          </li>
        </ol>
      </div>

      <div class="summary-content-education">
        <h1>EDUCATION</h1>
        <div class="summary-development">
          <h2 class="text-gray-500">Universidad de Córdoba - Colombia</h2>
        </div>
      </div>
    </div>
    <div class="summary-content-wcid">
      <h1>WHAT CANT I DO?</h1>
      <div class="summary-wcid">
        <h2 class="text-gray-500">Diseñar interfaces de usuario intuitivas y atractivas • Optimizar el rendimiento de sitios web y aplicaciones • Facilitar capacitaciones y talleres en tecnología • Investigar y adoptar nuevas tecnologías emergentes •  Brindar soporte técnico y resolver problemas informáticos.</h2>
      </div>
      <div class="summary-content-design-dev">
        <h1>DEVELOPMENT & DESIGN SKILLS</h1>
        <div class="summary-development">
          <h2 class="text-gray-500">Desarrollo Frontend • Diseño en figma • Responsive Design • Control de Versiones • Integración de APIs •  Testing y Depuración</h2>
        </div>
      </div>
      <div class="summary-content-hobbies">
        <h1>HOBBIES & INTERESTS</h1>
        <div class="summary-hobbies-icon">
          <i class=" fa-solid fa-gamepad p-2"></i>
          <i class="fa-solid fa-futbol p-2 "></i>
          <i class="fa-solid fa-utensils p-2 "></i>
          <i class="fa-solid fa-dumbbell p-2 "></i>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet/>
