<div class="img-contenido animate__animated animate__fadeInUp "></div>
<div class="container">
  <div class="about-me">
    <div class="about-description">
      <h1 class="animate__animated animate__fadeInUp ">ABOUT</h1>
      <h2 class="animate__animated animate__fadeInUp ">juanguillermofb&#64;gmail.com  <i class="fa-solid fa-envelope"></i> </h2>
      <h2 class="animate__animated animate__fadeInUp ">+57 3106862473 <i class="fa-solid fa-mobile"></i> </h2>
      <h4 class="animate__animated animate__fadeInUp ">Hello everyone! I'm a systems engineer passionate about web development, with a strong commitment to continuous learning and professional growth. My experience includes creating digital experiences using fundamental languages like HTML, CSS, and JavaScript, as well as implementing modern frameworks like Angular and Vue.js.

        I'm excited to tackle new challenges and constantly expand my knowledge. My goal is to contribute meaningfully to innovative projects that positively impact people's lives.

        I'm always on the lookout for exciting opportunities to collaborate. Connect with me and let's explore how we can work together to drive the world of web development forward! 💻🚀
        </h4>
    </div>
  </div>

</div>
