<div class="img-contenido  animate__animated animate__fadeInUp"></div>


<div class="container">
  <div class="presentation animate__backInLeft" >
    <div class="presentation-name">
      <div class="font-mono">
        <div class="animate__animated animate__fadeInLeft ">
          <h4>Juan </h4>
          <h1>Florez Burgos</h1>
        </div>
        <h5 class="animate__animated animate__fadeInUp">Front-end Developer</h5>
      </div>
      <a routerLink="/portfolio" class="btn-home animate__animated animate__pulse  animate__slow">Portfolio</a>
      <a routerLink="/summary" class="btn-home animate__animated animate__pulse animate__delay-1s ">Resumen</a>
    </div>
  </div>

</div>

<router-outlet/>




